<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
</head>
<body>
    <h1>Adicionar Produto</h1>
    <form action="{{ url_for('add_product') }}" method="post">
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="serial_number">Número de Série:</label><br>
        <input type="text" id="serial_number" name="serial_number"><br>
        <label for="brand">Marca:</label><br>
        <input type="text" id="brand" name="brand"><br>
        <label for="acquisition_date">Data de Aquisição:</label><br>
        <input type="date" id="acquisition_date" name="acquisition_date"><br>
        <label for="creation_date">Data de Criação:</label><br>
        <input type="date" id="creation_date" name="creation_date"><br>
        <label for="owner">Proprietário:</label><br>
        <input type="text" id="owner" name="owner"><br><br>
        <input type="submit" value="Adicionar Produto">
    </form>
</body>
</html>
