<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Produto</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2>Informações do Produto</h2>
        <p><strong>Nome:</strong> {{ product.name }}</p>
        <p><strong>Número de Série:</strong> {{ product.serial_number }}</p>
        <p><strong>Marca:</strong> {{ product.brand }}</p>
        <p><strong>Data de Aquisição:</strong> {{ product.acquisition_date }}</p>
        <p><strong>Data de Criação:</strong> {{ product.creation_date }}</p>
        <p><strong>Proprietário:</strong> {{ product.owner }}</p>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Voltar ao Início</a>
    </div>
</body>
</html>
